<launch>
  <!-- Launch the line follower on the real robot. Launches controller node, line detection node, and the homography transformer -->

  <node pkg="final_challenge2023" type="parking_controller.py" name="parking_controller" output="screen">
    <rosparam command="load" file="$(find final_challenge2023)/params.yaml"/>
  </node>

  <node pkg="line_following" name="line_detector" type="line_detector.py" output="screen">
  </node>

  <node pkg="line_following" name="homography_transformer" type="homography_transformer.py" output="screen">
  </node>

  <node pkg="image_transport" name="republish" type="republish" args="raw in:=/cone_debug_img out:=/cone_debug_img_compressed" output="screen"></node>

</launch>
